@font-face{
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face{
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face{
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}
@font-face{
  font-family: Montserrat;
  src: url('../fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.container{
  max-width: 1368px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

body{
  margin: 0 auto;

}
.main{
  background: url(../img/bg\ \(2\).png) no-repeat center  / cover;
  height: 957px;
  font-family:Montserrat;
  font-weight: 800;
  width: 100%;
  @media (max-width: 1150px){
    height: calc(920px - 4.5vh);
  }
  
  &__burger{
    margin-top: 25px;
    display: none;
    cursor: pointer;
    margin-top: 18px;
    margin-right: -100px;
    width: 30px;
    @media (max-width: 690px){
      display: flex;
      height: 40px;
      margin-top: 35px;
      margin-right: 20px;
      z-index: 10;
    }
    @media (max-width: 560px){
      width: 35px;
      height: 35px;
    }
    
  }

  &__nav{
    display: flex;
    justify-content:  space-between;

    
  }
  &__nav-logo{
    align-items: center;
    margin-top: 10px;
    @media (max-width: 1025px){
      margin-top: 15px;
      margin-left: -25px;
      width: calc(100% - 1vh);
    }
    @media (max-width: 820px){
      width: calc(100% - 2.8vh);
    }
    @media (max-width: 560px){
      width: calc(100% - 4vh);
    }
    @media (max-width: 450px){
      
      margin-left: -30px;
      width: calc(100% - 5.5vh);
    }
    
  }
  &__ul{
    display: flex;
    gap: 24px;
    align-items: center;
    @media (max-width: 690px){
      gap: 19px;
    }
    @media (max-width: 690px){
      display: none;
    }
    
  }
  &__li{
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.28);
    &:hover{
      transition: all .3s ease;
      transform: scale(1.03);
      // text-decoration: underline;
    }
    @media (max-width: 1025px){
      font-size: 17px;
    }
    @media (max-width: 820px){
      font-size: 16px;
    }
    @media (max-width: 720px){
      font-size: 15px;
    }

  }
  &__li-btn{
    background-color: #3C96EA;
    border-radius: 9px;
    padding: 11px;
    text-shadow: none;
    text-decoration: none;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    @media (max-width: 690px){
      padding: 9px;
    }
  }
  
  &__header{
    margin-bottom: 250px;

  }
  &__title {
    font-weight: 500;
    color: #fff;
    font-size: 45px;
    width: fit-content;
    text-align: center;
    margin: 15% auto;
    text-shadow: 0px 0px 12px #000000;
    overflow: hidden; 


    animation: show_text 1.5s;
    @keyframes show_text {
      from{
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @media (max-width: 1080px ) {
      font-size: 33px;
    }
    @media (max-width: 945px) {
      font-size: 30px;
    }
    @media (max-width: 810px){
      font-size: 27px;
      width: 500px; 
    }
    @media (max-width: 560px){
      font-size: 23px;
      max-width: 400px;
    }
    @media (max-width: 450px){
      font-size: 19px;
      max-width: 350px;
    }
    @media (max-width: 450px){
      font-size: 17px;
      max-width: 350px;
    }
  }
}

  



.second{
  margin: 0 auto;
  font-family:Montserrat;
  border-radius: 10px;
  @media (max-width: 1150px){
    width: 80%;
  }
  &__wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  &__map{
    min-width: 450px;
    height: 600px;
    @media (max-width: 1150px){
      margin-top: -100px;
      min-width: 350px;
      height: 800px;
    }
    @media (max-width: 1000px) {
      width: 100%;
      height: 400px;
    }
    
  }
  &__title{
    padding-top: 65px;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin-top: 130px ;
    margin-bottom: 80px;
    @media (max-width: 1300px) {
      font-size: 33px;
    }
    @media (max-width: 1250px) {
      margin-bottom: 50px;
    }
    @media (max-width: 560px){
      font-size: 28px;
    }
  }
  &__subtitle_one{
    margin-top: 15%;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-bottom: 50px;
    width: 800px;
    &:hover{
      transition: all .3s ease;
      transform: scale(1.02);
    }
    @media (max-width: 1365px) {
      width: unset;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
    @media (max-width: 560px){
      font-size: 16px;
    }
  }
  &__subtitle_two{
    font-weight: 500;
    font-size: 20px;
    width: 1000px;
    text-align: left;
    margin-bottom: 125px;
    width: 800px;
    padding-bottom: 65px;
    &:hover{
      transition: all .3s ease;
      transform: scale(1.02);
    }
    @media (max-width: 1365px) {
      width: unset;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
  }
}


.modal{
  display: none;
  position: fixed;    
  right: 0;
  top: 0px;
  width: 30%;
  height: 100%; 
  background-color: #000000;
  z-index: 1000;
  box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
  animation: move-left 0.3s;
  &__burger{
    color: #fff;
    cursor: pointer;
    margin-top: 18px;
    font-size: 17px;
    margin-top: 20%;
    margin-left: 80%;
  }
  @media (max-width: 560px){
    font-size: 16px;
  }
  @keyframes move-left {
    from {
      width: 0;
    }

    to {
      width: 30%;
    }
  }
  &__ul{
    padding: 20px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: #000000;
    margin-top: 50%;

    z-index: 2000;
  }
  &__li{
    font-size: 13px;
    color: #ffffff;

    &:hover{
      transition: all .3s ease;
      transform: scale(1.02);
    }
  }
  &__title{
    font-size: 16px;
    color: #a30000;
  }

}

.third{
  margin: 0 auto;
  font-family:Montserrat;
  &__title{
    padding-top: 100px;
    text-align: center;
    font-size: 35px;
    font-weight: 800;

    @media (max-width: 945px){
      font-size: 31px;
    }
  }

  &__slider{
    max-width: 1200px;
    position: relative;
    margin: auto;
    height: 230px;
    display: flex;
    flex-direction: row;
  }

  &__slider-row{
    max-width: 1200px;
    display: flex;
    gap: 20px;
    margin: 0 auto;

  }
  
  &__slider-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    &:hover{
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__slider-next{
    right:100px;
    background-repeat: 3px 0 0 3px;
    @media (max-width: 800px){
      right:85px;
    }
    @media (max-width: 650px){
      right:50px;
    }

    
  }
  &__slider-previous{
    left: 100px;
    background-repeat: 3px 0 0 3px;
    @media (max-width: 800px){
      left:85px;
    }
    @media (max-width: 650px){
      left:50px;
    }
  }


  &__card-list{
    margin-top: 75px;
    gap: 20px;
    margin-bottom: 55px;
  }

  &__card-img{
    @media (max-width: 800px){
      margin-top: 25px;
      width: 300px;
    }
    @media (max-width: 700px){
      margin-top: 25px;
      width: 260px;
    }
    @media (max-width: 630px){
      margin-top: 45px;
      width: 220px;
    }

  }

  &__card-link{
    &:hover{
      transition: all .3s ease;
      transform: scale(1.02);
    }
  }

  &__btn{
    position: relative;
    background-color: #3C96EA;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    width: 195px;
    height: 60px;
    border-radius: 9px;
    text-align: center;
    padding: 15px 10px 15px 12px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 0;
    margin-bottom: 100px;
    &::after{
      content: '';
      display: block;
      background-image: url(../img/more.svg);
      background-position: center;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
    }
    &:hover{
      transition: all .3s ease;
      transform: scale(1.03);
    }
    @media (max-width: 750px){
      padding: 10px;
      font-size: 18px;
    }
  }
}

.footer{
  font-family:Montserrat;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  padding-bottom: 25px;
  &__line{
    max-width: 1300px;
  }
  &__logo{
    display: flex;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 45px;
    @media (max-width: 945px){
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }
  &__row{
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    @media (max-width: 945px){
      flex-direction: column;

      gap: 25px;
      align-items: center;
    }
  }
  &__text1{
    width: 240px;
  }
  &__text2{
    width: 400px;
  }
  &__text3{
    width: 195px;

  }
  span{
    color: #fff;
    text-decoration: underline;
  }
}