@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
  padding-left: 74px;
  padding-right: 74px;
}
@media (max-width: 940px) {
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (max-width: 700px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 650px) {
  .container {
    padding-left: 17px;
    padding-right: 17px;
  }
}

body {
  margin: 0 auto;
}

.header {
  font-family: Montserrat;
  font-weight: 800;
  height: 10px;
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
  .header__block {
    gap: 15px;
    justify-content: none;
  }
}
@media (max-width: 330px) {
  .header__block {
    margin-top: -15px;
  }
}
@media (max-width: 945px) {
  .header__header-logo {
    margin-top: 25px;
    width: calc(100% - 2.5vh);
  }
}
@media (max-width: 750px) {
  .header__header-logo {
    width: calc(100% - 6vh);
  }
}
@media (max-width: 630px) {
  .header__header-logo {
    margin-top: 35px;
    width: calc(100% - 6.5vh);
  }
}
@media (max-width: 520px) {
  .header__header-logo {
    margin-top: 35px;
    width: calc(100% - 7.3vh);
  }
}
@media (max-width: 468px) {
  .header__header-logo {
    margin-left: -10px;
    width: calc(100% - 9vh);
  }
}
@media (max-width: 330px) {
  .header__header-logo {
    width: calc(100% - 8.7vh);
    margin-top: 33px;
    margin-left: -20px;
  }
}
.header__burger {
  margin-top: 25px;
  display: none;
  cursor: pointer;
  z-index: 1000;
}
@media (max-width: 630px) {
  .header__burger {
    display: flex;
    height: 37px;
  }
}
@media (max-width: 560px) {
  .header__burger {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 460px) {
  .header__burger {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 320px) {
  .header__burger {
    width: 28px;
    height: 28px;
  }
}
.header__ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
@media (max-width: 680px) {
  .header__ul {
    gap: 18px;
  }
}
@media (max-width: 630px) {
  .header__ul {
    display: none;
  }
}
.header__li {
  font-family: Montserrat;
  font-weight: 800;
  color: #000;
  font-size: 20px;
  border: none;
}
.header__li:hover {
  transition: all 0.3s ease;
  color: #4b4b4b;
}
@media (max-width: 935px) {
  .header__li {
    font-size: 17px;
  }
}
@media (max-width: 820px) {
  .header__li {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .header__li {
    font-size: 15px;
  }
}

.modal {
  display: none;
  position: fixed;
  right: 0;
  top: 0px;
  width: 31%;
  height: 100%;
  background: linear-gradient(180deg, rgb(0, 0, 0) 47%, rgb(25, 25, 25) 100%);
  z-index: 1000;
  box-shadow: 0px 0px 21px -7px rgb(0, 0, 0);
  animation: move-left 0.2s;
}
@keyframes move-left {
  from {
    width: 0;
  }
  to {
    width: 31%;
  }
}
.modal__ul {
  padding: 13.5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background: none;
  margin-top: 50%;
  z-index: 2000;
}
.modal__burger {
  color: #fff;
  cursor: pointer;
  margin-top: 18px;
  font-size: 17px;
  margin-top: 20%;
  margin-left: 80%;
}
@media (max-width: 430px) {
  .modal__burger {
    font-size: 14.7px;
  }
}
@media (max-width: 390px) {
  .modal__burger {
    font-size: 13.5px;
  }
}
.modal__li {
  font-size: 13px;
  color: #ffffff;
}
@media (max-width: 430px) {
  .modal__li {
    font-size: 11.7px;
  }
}
@media (max-width: 390px) {
  .modal__li {
    font-size: 10.5px;
  }
}
.modal__title {
  font-size: 16px;
  color: #a30000;
}
@media (max-width: 430px) {
  .modal__title {
    font-size: 14.7px;
  }
}
@media (max-width: 390px) {
  .modal__title {
    font-size: 13.5px;
  }
}

.second {
  font-family: Montserrat;
  display: flex;
  align-items: center;
  margin-top: 200px;
}
.second__functional {
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: left;
}
.second__functional-header {
  display: flex;
  gap: 7px;
}
.second__functional-search {
  display: flex;
  justify-content: end;
  align-items: center;
}
.second__functional-input {
  position: relative;
  font-family: Montserrat;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  padding: 15px;
  font-weight: 600;
}
@media (max-width: 1050px) {
  .second__functional-input {
    font-size: 15px;
    max-height: 45px;
  }
}
@media (max-width: 750px) {
  .second__functional-input {
    font-size: 13px;
    max-height: 40px;
  }
}
@media (max-width: 350px) {
  .second__functional-input {
    font-size: 12.3px;
    padding: 11px;
  }
}
.second__functional-input::-moz-placeholder {
  color: #fff;
}
.second__functional-input::placeholder {
  color: #fff;
}
.second__functional-clear {
  cursor: pointer;
  color: #fff;
  position: absolute;
  display: none;
  text-align: center;
  margin-right: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.second__functional-sort {
  background-color: #000;
  width: 54px;
  padding: 5px;
  border-radius: 7px;
}
.second__functional-sort:hover {
  cursor: pointer;
}
@media (max-width: 1050px) {
  .second__functional-sort {
    max-width: 45px;
  }
}
@media (max-width: 750px) {
  .second__functional-sort {
    max-width: 40px;
  }
}
@media (max-width: 350px) {
  .second__functional-sort {
    max-width: 37px;
  }
}
.second__functional-list {
  overflow: hidden;
  gap: 4px;
  flex-direction: column;
  transition: max-height 0.35s ease-out;
  margin-bottom: 45px;
}
@media (max-width: 900px) {
  .second__functional-list {
    font-size: 13px;
  }
}
.second__functional-sorting {
  font-size: 16.5px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.second__functional-sorting_1 {
  display: flex;
  background-color: #eeece7;
  padding: 4px 6px;
  border-radius: 7px;
  gap: 5px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.second__functional-sorting_close {
  cursor: pointer;
  display: none;
  font-size: 11px;
}
.second__functional-sorting_2 {
  display: flex;
  background-color: #eeece7;
  padding: 3px 5px;
  border-radius: 7px;
  gap: 5px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.second__functional-sorting_3 {
  display: flex;
  background-color: #eeece7;
  padding: 3px 5px;
  border-radius: 7px;
  gap: 5px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.second__functional-filt {
  display: flex;
  flex-direction: column;
}
@media (max-width: 930px) {
  .second__functional-filt {
    font-size: 13.5px;
  }
}
.second__functional-filt_1 {
  display: flex;
  gap: 7px;
  width: 10px;
}
.second__functional-filt_2 {
  display: flex;
  gap: 7px;
  width: 10px;
}
.second__functional-filt_3 {
  display: flex;
  gap: 7px;
  width: 10px;
}
.second__functional-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: 600;
}
@media (max-width: 930px) {
  .second__functional-title {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .second__functional-title {
    font-size: 16.5px;
  }
}
@media (max-width: 520px) {
  .second__functional-title {
    font-size: 15.5px;
  }
}
.second__functional-sortcb {
  cursor: pointer;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.second__functional-checkbox {
  width: 15px;
}
.second__functional-text {
  cursor: pointer;
  font-size: 15px;
}
@media (max-width: 930px) {
  .second__functional-text {
    font-size: 13px;
  }
}
@media (max-width: 520px) {
  .second__functional-text {
    font-size: 12px;
  }
}
.second__loader {
  margin: 150px auto;
  width: 60px;
  height: 60px;
  border: 6px solid #FFF;
  border-bottom-color: #000000;
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.second__pagination-page {
  animation: showPage 0.8s;
  animation-iteration-count: 1;
}
@keyframes showPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.second__card-list {
  display: grid;
  grid-template-columns: 435px 435px;
  gap: 30px;
}
@media (max-width: 1050px) {
  .second__card-list {
    grid-template-columns: 400px 400px;
    gap: 20px;
  }
}
@media (max-width: 935px) {
  .second__card-list {
    grid-template-columns: 350px 350px;
    gap: 20px;
  }
}
@media (max-width: 800px) {
  .second__card-list {
    grid-template-columns: 310px 310px;
    gap: 15px;
  }
}
@media (max-width: 750px) {
  .second__card-list {
    grid-template-columns: 280px 280px;
  }
}
@media (max-width: 540px) {
  .second__card-list {
    grid-template-columns: 260px 260px;
    gap: 10px;
  }
}
@media (max-width: 520px) {
  .second__card-list {
    display: flex;
    flex-direction: column;
  }
}
.second__card-img {
  max-height: 260px;
  max-width: 420px;
}
@media (max-width: 1050px) {
  .second__card-img {
    max-width: 380px;
    max-height: 230px;
  }
}
@media (max-width: 935px) {
  .second__card-img {
    max-width: 350px;
    max-height: 210px;
  }
}
@media (max-width: 800px) {
  .second__card-img {
    max-width: 285px;
    max-height: 185px;
  }
}
@media (max-width: 540px) {
  .second__card-img {
    max-width: 230px;
    max-height: 175px;
  }
}
@media (max-width: 520px) {
  .second__card-img {
    max-height: 205px;
    max-width: 330px;
  }
}
@media (max-width: 350px) {
  .second__card-img {
    max-height: 170px;
    max-width: 285px;
  }
}
.second__search-result {
  font-size: 19px;
  font-weight: 600;
  text-align: center;
}
.second__modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.699);
  z-index: 1000;
  animation: show_card 0.17s;
}
@keyframes show_card {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.second__modal-window {
  color: #fff;
  background-color: #EFEFEF;
  margin: 5% auto;
  border: none;
  width: 580px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second__modal-header {
  display: flex;
}
.second__modal-close {
  margin-top: 10px;
  margin-left: -30px;
  font-size: 30px;
  cursor: pointer;
  height: 30px;
}
.second__modal-img {
  margin-left: -12px;
  width: 580px;
}
.second__modal-title {
  margin-top: 20px;
  color: #0458B8;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.second__modal-subtext {
  margin: 0 20px;
  margin-top: 30px;
  max-width: 530px;
  text-align: center;
  font-size: 20px;
  color: #000;
  padding-bottom: 30px;
  cursor: default;
}
.second__modal-link {
  color: #FFF;
  background-color: #103CE9;
  display: flex;
  align-items: center;
  max-width: 151px;
  border-radius: 9px;
  margin-bottom: 10px;
  padding: 8px 20px 8px 10px;
  font-weight: 700;
  gap: 8px;
}
.second__modal-link::before {
  content: "";
  background: url("../img/route.svg");
  width: 22px;
  height: 22px;
}
.second__pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.second__pagination-link {
  cursor: pointer;
  color: #000;
  background: none;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid;
  padding: 6px;
  border-radius: 7px;
}
@media (max-width: 520px) {
  .second__pagination-link {
    font-size: 17px;
  }
}
@media (max-width: 380px) {
  .second__pagination-link {
    font-size: 15.5px;
  }
}
.second__pagination-link:hover {
  background-color: #ececec;
  transition: all 0.2s ease;
}

.checkbox_show-1 {
  font-family: Montserrat;
  display: none;
  align-items: center;
}

.checkbox_show-2 {
  font-family: Montserrat;
  display: none;
  align-items: center;
}

.checkbox_show-3 {
  font-family: Montserrat;
  display: none;
  align-items: center;
}

.checkbox__card-list {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 435px 435px;
  gap: 30px;
}

.footer {
  margin-top: 100px;
  font-family: Montserrat;
  color: #000000;
  font-size: 15px;
  padding-bottom: 25px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
}
@media (max-width: 1050px) {
  .footer {
    font-size: 13px;
  }
}
@media (max-width: 795px) {
  .footer {
    font-size: 12px;
  }
}
@media (max-width: 540px) {
  .footer {
    font-size: 11px;
  }
}
@media (max-width: 520px) {
  .footer {
    font-size: 13px;
  }
}
.footer__line {
  max-width: 1300px;
}
@media (max-width: 650px) {
  .footer__line {
    max-width: 600px;
  }
}
@media (max-width: 520px) {
  .footer__line {
    max-width: 400px;
  }
}
.footer__logo {
  display: flex;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 35px;
}
@media (max-width: 945px) {
  .footer__logo {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
@media (max-width: 795px) {
  .footer__logo {
    max-width: 150px;
    padding-left: -10px;
  }
}
@media (max-width: 520px) {
  .footer__logo {
    max-width: 180px;
    padding-left: -10px;
  }
}
@media (max-width: 520px) {
  .footer__logo {
    width: calc(100% - 7.3vh);
  }
}
@media (max-width: 468px) {
  .footer__logo {
    width: calc(100% - 9vh);
  }
}
@media (max-width: 350px) {
  .footer__logo {
    width: calc(100% - 10vh);
  }
}
.footer__text-row {
  display: flex;
  gap: 50px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 1050px) {
  .footer__text-row {
    gap: 40px;
  }
}
@media (max-width: 945px) {
  .footer__text-row {
    gap: 25px;
  }
}
@media (max-width: 795px) {
  .footer__text-row {
    gap: 20px;
  }
}
@media (max-width: 520px) {
  .footer__text-row {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .footer__text-row {
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  .footer__text-row {
    font-size: 11px;
  }
}
@media (max-width: 340px) {
  .footer__text-row {
    font-size: 9px;
  }
}
.footer__text1 {
  max-width: 240px;
}
@media (max-width: 800px) {
  .footer__text1 {
    font-size: 11.8px;
  }
}
@media (max-width: 650px) {
  .footer__text1 {
    font-size: 11.8px;
    max-width: 200px;
  }
}
@media (max-width: 520px) {
  .footer__text1 {
    font-size: 13px;
  }
}
.footer__text2 {
  width: 400px;
}
@media (max-width: 1050px) {
  .footer__text2 {
    max-width: 300px;
  }
}
@media (max-width: 795px) {
  .footer__text2 {
    max-width: 250px;
  }
}
@media (max-width: 650px) {
  .footer__text2 {
    max-width: 200px;
  }
}
@media (max-width: 380px) {
  .footer__text2 {
    font-size: 12px;
    max-width: 220px;
  }
}
.footer__text3 {
  width: 195px;
}
@media (max-width: 380px) {
  .footer__text3 {
    font-size: 11.5px;
  }
}
.footer span {
  color: #000000;
  text-decoration: underline;
}

.second__functional-list-open {
  max-height: 192px;
}

.second__functional-list-close {
  max-height: 0;
}