@font-face{
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face{
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face{
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}
@font-face{
  font-family: Montserrat;
  src: url('../fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.container{
  max-width: 1368px;
  margin: 0 auto;
  padding-left: 74px;
  padding-right: 74px;
  @media (max-width: 940px){
    padding-left: 45px;
    padding-right: 45px;
  }
  @media (max-width: 700px){
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (max-width: 650px){
    padding-left: 17px;
    padding-right: 17px;
  }
}

body{
  margin: 0 auto;
}
.header{
  font-family:Montserrat;
  font-weight: 800;
  height: 10px;
  &__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 650px){
      gap: 15px;
      justify-content: none;
    }
  }
  &__header-logo{
    @media (max-width: 945px){
      margin-top: 25px;
      width: calc(100% - 2.5vh);
    }
    @media (max-width: 750px){
      width: calc(100% - 6vh);
    }
  }

  &__burger{
    margin-top: 25px;
    display: none;
    cursor: pointer;
    z-index: 1000;
    @media (max-width: 630px){
        display: flex;
        height: 40px;
    }
  }

  &__ul{
      display: flex;
      align-items: center;
      gap: 25px;
      @media (max-width: 680px){
        gap: 18px;
      }
      @media (max-width: 630px){
        display: none;
      }
  }
  &__li{
      font-family:Montserrat;
      font-weight: 800;
      color: #000;
      font-size: 20px;
      border: none;
      &:hover{
        transition: all .3s ease;
        color: #4b4b4b;
      }
      @media (max-width: 935px){
        font-size: 17px;
      }
      @media (max-width: 820px){
        font-size: 16px;
      }
      @media (max-width: 650px){
        font-size: 15px;
      }
  }
}

.modal{
  display: none;
  position: fixed;    
  right: 0;
  top: 0px;
  width: 31%;
  height: 100%; 
  background: linear-gradient(180deg, rgba(0,0,0,1) 47%, rgba(25,25,25,1) 100%);
  z-index: 1000;
  box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 1);
  animation: move-left 0.2s;

  @keyframes move-left {
    from {
      width: 0;
    }

    to {
      width: 31%;
      
    }
  }
  &__ul{
    padding: 13.5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background: none;
    margin-top: 50%;
    z-index: 2000;
  }
  &__burger{
    color: #fff;
    cursor: pointer;
    margin-top: 18px;
    font-size: 17px;
    margin-top: 20%;
    margin-left: 80%;
  }
  &__li{
    font-size: 13px;
    color: #ffffff;
  }
  &__title{
    font-size: 16px;
    color: #a30000;
  }
}

.second{
  font-family: Montserrat;
  display: flex;
  align-items: center;
  margin-top: 200px;
  &__functional{
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: left;
    &-header{
      display: flex;
      gap: 7px;
    }
    &-search {
      font-family:Montserrat;
      color: #fff;
      background-color: #000000;
      border: none;
      border-radius: 7px;
      font-size: 18px;
      padding: 15px;
      font-weight: 600;
      @media (max-width: 1050px){
        font-size: 15px;
        max-height: 45px;
      }
      @media (max-width: 750px){
        font-size: 13px;
        max-height: 40px;
      }

      &::placeholder{
        color: #fff;
      }
    }
    &-sort{
      background-color: #000;
      width: 54px;
      padding: 5px;
      border-radius: 7px;
      &:hover{
        cursor: pointer;
      }
      @media (max-width: 1050px){
        max-width: 45px;
      }
      @media (max-width: 750px){
        max-width: 40px;
      }
    }
    &-list{
      display: none;
      gap: 4px;
      animation: sortList 0.35s;
      flex-direction: column;
      @keyframes sortList {
        from{
          height: 0px;
        }
        to{
          height: 192px;
        }
      }
      @media (max-width: 900px){
        font-size: 13px;
      }
    }
    &-sorting{
      font-size: 16.5px;
      display: flex;
      gap: 15px;
      align-items: center;
      &_1{
        display: flex;
        background-color: #eeece7;
        padding: 4px 6px;
        border-radius: 7px;
        gap: 5px;
        align-items: center;
      }
      &_close{
        cursor: pointer;
        display: none;
        font-size: 11px;
      }
      &_2{
        display: flex;
        background-color: #eeece7;
        padding: 3px 5px;
        border-radius: 7px;
        gap: 5px;
        align-items: center;
      }
      &_3{
        display: flex;
        background-color: #eeece7;
        padding: 3px 5px;
        border-radius: 7px;
        gap: 5px;
        align-items: center;
      }

    }
    &-filt{
      display: flex;
      flex-direction: column;
      &_1{
        display: flex;
        gap: 7px;
        width: 10px;
      }
      &_2{
        display: flex;
        gap: 7px;
        width: 10px;
      }
      &_3{
        display: flex;
        gap: 7px;
        width: 10px;
      }
    }
    &-title{
      margin-top: 20px;
      margin-bottom: 5px;
      font-size: 19px;
      font-weight: 600;
    }
    &-sortcb{
      cursor: pointer;
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    &-checkbox{
      width: 15px;
    }
    &-text{
      cursor: pointer;
      font-size: 15px;
    }

  }
  &__loader {
  margin: 150px auto;
  width: 60px;
  height: 60px;
  border: 6px solid #FFF;
  border-bottom-color: #000000;
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
  &__pagination-page{
    animation: showPage 0.8s;
    animation-iteration-count: 1;
    @keyframes showPage {
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
  }
  &__card-list{
    margin-top: 45px;
    display: grid;
    grid-template-columns: 435px 435px;
    gap: 30px;
    @media (max-width: 1050px){
      grid-template-columns: 400px 400px;
      gap: 20px;
    }
    @media (max-width: 935px){
      grid-template-columns: 350px 350px;
      gap: 20px;
    }
    @media (max-width: 800px){
      grid-template-columns: 310px 310px;
      gap: 15px;
    }
    @media (max-width: 750px){
      grid-template-columns: 280px 280px;
    }
    @media (max-width: 540px){
      grid-template-columns: 260px 260px;
      gap: 10px;
    }
    @media (max-width: 520px){
      display: flex;
      flex-direction: column;
    }
  }
  &__card-img{
    max-height: 260px;
    max-width: 420px;
    @media (max-width: 1050px){
      max-width: 380px;
      max-height: 230px;
    }
    @media (max-width: 935px){
      max-width: 350px;
      max-height: 210px;
    }
    @media (max-width: 800px){
      max-width: 285px;
      max-height: 185px;
    }
    @media (max-width: 540px){
      max-width: 230px;
      max-height: 175px;
    }
    @media (max-width: 520px){
      max-height: 205px;
      max-width: 330px;
    }

  }
  &__modal{
    display: none;
    position: fixed;    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.699); 
    z-index: 1000;
    animation: show_card 0.17s;
    @keyframes show_card {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    &-window{
      color: #fff;
      background-color: #EFEFEF;
      margin: 5% auto; 
      border: none;
      width: 580px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
      border-radius: 9px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-header{
      display: flex;
    }
    &-close{
      margin-top: 10px;
      margin-left: -30px;
      font-size: 30px;
      cursor: pointer;
      height: 30px;
    }
    &-img{
      margin-left: -12px;
      width: 580px;
    }
    &-title{
      margin-top: 20px;
      color: #0458B8;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }
    &-subtext{
      margin: 0 20px;
      margin-top: 30px;
      max-width: 530px;
      text-align: center;
      font-size: 20px;
      color: #000;
      padding-bottom: 30px;
      cursor: default;
    }
    &-link{
      color: #FFF;
      background-color: #103CE9;
      display: flex;
      align-items: center;
      max-width: 151px;
      border-radius: 9px;
      margin-bottom: 10px;
      padding: 8px 20px 8px 10px;
      font-weight: 700;
      gap: 8px;
      &::before{
        content: '';
        background: url('../img/route.svg');
        width: 22px;
        height: 22px;
      }
    }
  }
  &__pagination{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    &-link{
      cursor: pointer;
      color: #000;
      background: none;
      font-weight: 600;
      font-size: 18px;
      border: 1px solid;
      padding: 6px;
      border-radius: 7px;
      &:hover{
        background-color: #ececec;
        transition: all .2s ease;
      }
    }
  }
}
.checkbox_show-1{
  font-family: Montserrat;
  display: none;
  align-items: center;
}
.checkbox_show-2{
  font-family: Montserrat;
  display: none;
  align-items: center;
}
.checkbox_show-3{
  font-family: Montserrat;
  display: none;
  align-items: center;
}

.checkbox__card-list{
  margin-top: 35px;
  display: grid;
  grid-template-columns: 435px 435px;
  gap: 30px;
}


.footer{
  margin-top: 100px;
  font-family:Montserrat;
  color: #000000;
  font-size: 15px;
  padding-bottom: 25px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  @media (max-width: 1050px){
    font-size: 13px;
  }
  @media (max-width: 795px){
    font-size: 12px;
  }
  @media (max-width: 540px){
    font-size: 11px;
  }
  @media (max-width: 520px){
    font-size: 13px;
  }
  &__line{
    max-width: 1300px;
    @media (max-width: 650px){
      max-width: 600px;
    }
    @media (max-width: 520px){
      width: 400px;
    }
  }
  &__logo{
    display: flex;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 35px;
    @media (max-width: 945px){
      padding-top: 10px;
      padding-bottom: 20px;
    }
    @media (max-width: 795px){
      max-width: 150px;
      padding-left: -10px;
    }
    @media (max-width: 520px){
      max-width: 180px;
      padding-left: -10px;
    }
  }
  &__text-row{
    display: flex;
    gap: 50px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    @media (max-width: 1050px){
      gap: 40px;
    }
    @media (max-width: 945px){
      gap: 25px;
    }
    @media (max-width: 795px){
      gap: 20px;
    }
    @media (max-width: 520px){
      display: flex;
      flex-direction: column;
    }
  }
  &__text1{
    max-width: 240px;
    @media (max-width: 800px){
      font-size: 11.8px;
    }
    @media (max-width: 650px){
      font-size: 11.8px;
      max-width: 200px;
    }
    @media (max-width: 520px){
      font-size: 13px;
    }
  }
  &__text2{
    width: 400px;
    @media (max-width: 1050px){
      max-width: 300px;
    }
    @media (max-width: 795px){
      max-width: 250px;
    }
    @media (max-width: 650px){
      max-width: 200px;
    }
  }
  &__text3{
    width: 195px;
  }
  span{
    color: #000000;
    text-decoration: underline;
  }
}